<h1>New Post</h1>

<form action="/posts/create" method="post">
  <input type="text" name="name" style="width:100%" placeholder="Name" /><br/>
  <textarea name="body" rows="10" style="width:100%"></textarea><br/>
  <input type="submit"/>
</form>
<a href="/posts">Back</a>

